@charset "utf-8";

/*公共样式区*/
/*
.w1200{
    width: 1200px;
    margin: 0 auto;
}
*/




/*头部栏样式区*/



/*导航栏样式*/
/*.nav{
    height: 60px;
}
.nav ul{
    margin-top: -52px;
    margin-left: 249px;
}
.nav ul li{
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.nav ul li a{
    display: block;
    color: #666666;
}
.nav ul li .active{
    color: #ffffff;
    background-color: #ffbe5a;
    border-radius: 10px;
}

.nav ul li a:hover{
    background-color: #ffbe5a;
    color: #ffffff;
    border-radius: 10px;
}
.nav_a{
    margin-top: -40px;
    border-radius: 25px;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ffbe5a;
    color: #ffbe5a;
    font-size: 16px;
}
.nav_a:hover{
    background-color: #ffbe5a;
    color: #ffffff;
}

.nav a img{
  margin-top: 7px;
}*/


/*轮播图样式*/
/*.flexslider{
    height: 350px;
    overflow: hidden;
}
.slides li{
    height: 350px;
}*/




.flexslider {
    position: relative;
    height:350px;
    overflow: hidden;
   /* background: url(../images/loading.gif) 50% no-repeat;*/
}
.slides {
    position: relative;
    z-index: 1;
}
.slides li {
    height: 350px;
}


.bd ul.slides li{
    height: 276px;
}


.picScroll-left{
    position: relative;
}
.picScroll-left .hd ul {
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
    zoom: 1;
    position: absolute;
    top: 345px;
    left: 50%;
}

.picScroll-left .hd ul li {
    float: left;
    width: 9px;
    height: 9px;
    overflow: hidden;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    background: url("../images/icoCircle.gif") 0 -9px no-repeat;
}

.picScroll-left .hd ul li.on {
    background-position: 0 0;
}





.picScroll-left:hover .hd .prev{
    background: url(../images/zuojt_1a.png) no-repeat;
    z-index: 20;
}
.picScroll-left:hover .hd .next{
    background: url(../images/youjt_1a.png) no-repeat;
    z-index: 20;
}
/*.picScroll-left div.hd a.prev{
    position: absolute;
    top: 65px;
    left: 0px;
    width: 60px;
    height: 60px;
    background: url(../images/jt.png) no-repeat;
}*/

.picScroll-left .hd .prev{
    position: absolute;
    top: 90px;
    left: 360px;
    display: block;
    width: 33px;
    height: 59px;
    /*float: right;*/
    /* margin-right: 5px;
     margin-top: 10px;*/
    overflow: hidden;
    cursor: pointer;
    background: url("../images/zuojt_1.png") no-repeat;
    z-index: 20;
}

.picScroll-left .hd .next{
    position: absolute;
    top: 90px;
    right: 390px;
    display: block;
    width: 33px;
    height: 59px;
    /*float: right;*/
    /*margin-right: 5px;
    margin-top: 10px;*/
    overflow: hidden;
    cursor: pointer;
    background: url("../images/youjt_1.png") no-repeat;
    z-index: 20;
}


/*
.flex-control-nav {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    width: 100%;
    text-align: center;

}

.flex-control-nav li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    *display: inline;
    zoom: 1;
}

.flex-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 40px;
    overflow: hidden;
    background: url(../images/dot.png) right 0 no-repeat;
    cursor: pointer;
}

.flex-control-nav .flex-active {
    background-position: 0 0;
}
.flex-direction-nav {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 45%;
}
.flex-direction-nav li a {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
}
.flex-direction-nav li a.flex-prev {
    left: 40px;
    background: url(../images/prev.png) center center no-repeat;
}

.flex-direction-nav li a.flex-next {
    right: 40px;
    background: url(../images/next.png) center center no-repeat;
}
*/



/*解决方案*/
.solution .s_h{
    font-size: 26px;
    color: #333333;
    text-align: center;
    margin-top: 40px;
}
.solution h5{
    font-size: 16px;
    color: #666666;
    text-align: center;
    margin: 30px auto;
}


.solution .s_h3{
    font-size: 20px;
    color: #666666;
    text-align: center;
    margin: 20px auto;
}

.solution ul li{
    width: 232px;
    height: 370px;
    /*background-color: #ffbe5a;*/
    float: left;
    position: relative;
    overflow: hidden;
}

.solution ul li img.shizijia{
    position: absolute;
    top: -55px;
    left: 92px;
    -webkit-transform: translate3d(0,0px,0)/*translate3d(0,-80px,0)*/;
    transform: translate3d(0,0px,0)/*translate3d(0,-80px,0)*/;
}

.solution ul li:hover img.shizijia{
    -webkit-transform: translate3d(0,110px,0)/*translate3d(0,-80px,0)*/;
    transform: translate3d(0,110px,0)/*translate3d(0,-80px,0)*/;
    z-index: 6;
}

.solution ul li div img,.solution ul li img.shizijia,.solution ul li{
    transition: all 0.5s ease;
    -webkit-transition:  all 0.5s ease;
    -o-transition:  all 0.5s ease;
    -moz-transition:  all 0.5s ease;
}
.solution ul li div.effect-bubba{
    overflow: hidden;
}

.solution ul li:hover div img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}


div.effect-bubba div.figcaption::before,
div.effect-bubba div.figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 240px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

div.effect-bubba div.figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

div.effect-bubba div.figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

.solution ul li:hover div.figcaption::before,
.solution ul li:hover div.figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.solution ul li:hover{
    background-color: #ffbe5a;
}

.solution ul li:hover p,.solution ul li:hover h3{
    color: #ffffff;
}
.solution ul li:hover a{
    background-color: #ff9e09;
    color: #ffffff;
    box-shadow: 2px 2px 2px #ba6515;
}

.solution ul li p{
    font-size: 14px;
    color: #888888;
    text-align: justify;
    padding: 0 20px;
    height: 96px;
}

.solution ul li a{
    background-color: #e4e2e2;
    font-size: 14px;
    color: #666666;
    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin: 10px auto auto 56px;
}

/*产品优势*/
.product{
    height: 638px;
    background-color: #f3f3f3;
    margin-top: 42px;
}
.product .p_h{
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 21px;
}
.product h5{
    font-size: 16px;
    color: #666666;
    text-align: center;
}

.product .p_h3{
    font-size: 18px;
    color: #666666;
}
.product ul li{
    width: 591px;
    height: 140px;
    float: left;
    margin-top: 20px;
    /*background-color: #3c763d;*/
}

.product ul li:hover{
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #dadada;
}

.product ul li:hover h3.p_h3{
    color: #333333;
}
.product ul li:hover p{
    color: #666666;
}
.p1{
    background: url(../images/p1.png) no-repeat;
}
.p2{
    background: url(../images/p2.png) no-repeat;
}
.p3{
    background: url(../images/p3.png) no-repeat;
}
.p4{
    background: url(../images/p4.png) no-repeat;
}
.p5{
    background: url(../images/p5.png) no-repeat;
}
.p6{
    background: url(../images/p6.png) no-repeat;
}
.product ul li:hover .p1{
    background: url(../images/p1_orange.png) no-repeat;
}
.product ul li:hover .p2{
    background: url(../images/p2a.png) no-repeat;
}
.product ul li:hover .p3{
    background: url(../images/p3a.png) no-repeat;
}
.product ul li:hover .p4{
    background: url(../images/p4a.png) no-repeat;
}
.product ul li:hover .p5{
    background: url(../images/p5a.png) no-repeat;
}
.product ul li:hover .p6{
    background: url(../images/p6a.png) no-repeat;
}
.product ul li p{
    font-size: 14px;
    color: #888888;
    padding-top: 16px;
    text-align: justify;
}

.product ul li div{
    float: left;
}
.product .p_div2{
    width: 462px;
    height: 101px;
    margin: 20px 20px 0px 20px;
}

.product .p_div1{
    width: 68px;
    height: 101px;
    margin-top: 45px;
    margin-left: 20px;
}


/*通信服务*/
.services{
   /* height: 467px;*/
}

.services .ss_h{
    font-size: 26px;
    color: #333333;
    text-align: center;
    margin-top: 40px;
}
.services .s_P{
    font-size: 16px;
    color: #666666;
    text-align: center;
}

.services ul.ul1 li{
    width: 387px;
    height: 150px;
    float: left;
   /* background-color: #ffbe5a;*/
}

.services ul.ul1 li:hover{
    cursor: pointer;
    background-color: #ffbe5a;
}
.services ul.ul1 li .ss_div img{
    transition: all 0.5s;
}
.services ul.ul1 li:hover .ss_div img{
    transform: scale(1.2);
}
.services ul.ul1 li:hover .ss_div1 h3,.services ul.ul1 li:hover .ss_div1 p{
    color: #ffffff;
}
.services ul.ul1 li div{
    float: left;
}
.services ul.ul1 li div.ss_div{
    width: 160px;
    height: 150px;
    overflow: hidden;
}

.services ul.ul1 li div.ss_div1{
    padding: 0 20px;
}

.services ul.ul1 li h3{
    font-size: 18px;
    color: #666666;
    padding: 10px 0px;
}
.services ul.ul1 li p{
    width: 186px;
    height: 106px;
    font-size: 14px;
    color: #888888;
    text-align: justify;
}

.services ul.ul2 li{
    float: left;
    margin: 30px 20px 0px 20px;
    width: 260px;
    height: 145px;
    line-height: 145px;
    text-align: center;
   /* background-color: #24c5ed;*/
}

.services ul.ul2 .ul2_div{
    color:#ffbe5a;
    font-size: 41.33px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align:center;
    border-radius: 50%;
    background: #fff2de url(../images/service_tuoyuan1.png) center no-repeat;
    margin-left: 80px;
}

.services ul.ul2 .ul2_div:hover{
    cursor: pointer;
    color: #ffffff;
    background: #ffbe5a url(../images/service_tuoyuan1_1.png) center no-repeat;
}
.services ul.ul2 li p{
    font-size: 15.73px;
    color: #666666;
    padding-top: 20px;
}


/*创新领袖*/
.leaders h3{
    font-size: 26px;
    color: #333333;
    text-align: center;
    margin: 40px auto 30px auto;
}
.leaders ul li{
    width: 382px;
    height: 180px;
    float: left;
    /*background-color: #37bd7c;*/
    border: 1px solid #cdcdcd;
}

.leaders ul li div.leaders1{
    width: 380px;
    height: 100px;
    background: url("../images/leaders1.png") 150px 15px no-repeat;
}
.leaders ul li div.leaders2{
    width: 380px;
    height: 100px;
    background: url("../images/leaders2.png") 150px 15px no-repeat;
}
.leaders ul li div.leaders3{
    width: 380px;
    height: 100px;
    background: url("../images/leaders3.png") 150px 15px no-repeat;
}


.leaders ul li:hover div.leaders1{
    width: 380px;
    height: 100px;
    background: url("../images/leaders1a.png") 150px 15px no-repeat;
}
.leaders ul li:hover div.leaders2{
    width: 380px;
    height: 100px;
    background: url("../images/leaders2a.png") 150px 15px no-repeat;
}
.leaders ul li:hover div.leaders3{
    width: 380px;
    height: 100px;
    background: url("../images/leaders3a.png") 150px 15px no-repeat;
}


.leaders ul li:hover{
    cursor: pointer;
    background-color: #ffbe5a;
}
.leaders ul li:hover p{
    color: #ffffff;
}
/*.leaders ul li img{
    padding: 13px 154px;
}*/
.leaders ul li p{
    font-size: 16px;
    color: #666666;
    padding: 0px 24px;
}


/*覆盖全球*/
.earth{
    background-color: #f3f3f3;
    height: 526px;
    margin-top: 38px;
}
.earth .ear_div{
    width: 350px;
    margin-top: 100px;
}
.earth  img{
    width: 850px;
    margin-top: 54px;
}
.earth ul li{
    float: left;
}

.earth .ear_div h3{
    font-size: 24px;
    color: #ffbe5a;
    text-align: center;
}
.earth .ear_div p{
    font-size: 16px;
    color: #666666;
    padding: 43px 20px 0px 20px;
    text-align: justify;
}


/*客户案例*/
.customer{

}
.customer h3{
    color: #333333;
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
}

.customer ul li{
    float: left;
}

.customer ul li i{
    display: inline-block;
    width: 240px;
    height: 180px;
    line-height: 180px;
}



.cus_1{
    background: url(../images/c1.png) 16px 40px no-repeat;
}
.cus_2{
    background: url(../images/c2.png) 45px 41px no-repeat;
}
.cus_3{
    background: url(../images/c3.png) 35px 32px no-repeat;
}
.cus_4{
    background: url(../images/c4.png) 16px 55px no-repeat;
}
.cus_5{
    background: url(../images/c5.png) 3px 13px no-repeat;
}
.cus_6{
    background: url(../images/c6.png) 16px 65px no-repeat;
}
.cus_7{
    background: url(../images/c7.png) 16px 58px no-repeat;
}
.cus_8{
    background: url(../images/c8.png) 18px 24px no-repeat;
}
.cus_9{
    background: url(../images/c9.png) 3px 38px no-repeat;
}
.cus_10{
    background: url(../images/c10.png) 6px 13px no-repeat;
}
.cus_11{
    background: url(../images/c11.png) 5px 65px no-repeat;
}
.cus_12{
    background: url(../images/c12.png) 17px 35px no-repeat;
}
.cus_13{
    background: url(../images/c13.png) 70px 24px no-repeat;
}
.cus_14{
    background: url(../images/c14.png) 54px 50px no-repeat;
}
.cus_15{
    background: url(../images/c15.png) 50px 25px no-repeat;
}
.cus_16{
    background: url(../images/c16.png) 25px 20px no-repeat;
}
.cus_17{
    background: url(../images/c17.png) 46px 28px no-repeat;
}
.cus_18{
    background: url(../images/c18.png) 6px 26px no-repeat;
}
.cus_19{
    background: url(../images/c19.png) 7px 0px no-repeat;
}
.cus_20{
    background: url(../images/c20.png) 20px 60px no-repeat;
}



/*.customer ul li:hover{
    cursor: pointer;
}*/


/*
.customer ul li:hover .cus_1{
    background: url(../images/c1.png) 16px 40px no-repeat;
}
.customer ul li:hover .cus_2{
    background: url(../images/c2.png) 45px 41px no-repeat;
}
.customer ul li:hover .cus_3{
    background: url(../images/c3.png) 35px 32px no-repeat;
}
.customer ul li:hover .cus_4{
    background: url(../images/c4.png) 16px 55px no-repeat;
}
.customer ul li:hover .cus_5{
    background: url(../images/c5.png) 3px 13px no-repeat;
}
.customer ul li:hover .cus_6{
    background: url(../images/c6.png) 16px 65px no-repeat;
}
.customer ul li:hover .cus_7{
    background: url(../images/c7.png) 16px 58px no-repeat;
}
.customer ul li:hover .cus_8{
    background: url(../images/c8.png) 18px 24px no-repeat;
}
.customer ul li:hover .cus_9{
    background: url(../images/c9.png) 3px 38px no-repeat;
}
.customer ul li:hover .cus_10{
    background: url(../images/c10.png) 6px 13px no-repeat;
}
.customer ul li:hover .cus_11{
    background: url(../images/c11.png) 5px 65px no-repeat;
}
.customer ul li:hover .cus_12{
    background: url(../images/c12.png) 17px 35px no-repeat;
}
.customer ul li:hover .cus_13{
    background: url(../images/c13.png) 70px 24px no-repeat;
}
.customer ul li:hover .cus_14{
    background: url(../images/c14.png) 54px 50px no-repeat;
}
.customer ul li:hover .cus_15{
    background: url(../images/c15.png) 50px 25px no-repeat;
}

.customer ul li:hover .cus_16{
    background: url(../images/c16.png) 25px 20px no-repeat;
}
.customer ul li:hover .cus_17{
    background: url(../images/c17.png) 46px 28px no-repeat;
}
.customer ul li:hover .cus_18{
    background: url(../images/c18.png) 6px 26px no-repeat;
}
.customer ul li:hover .cus_19{
    background: url(../images/c19.png) 7px 0px no-repeat;
}
.customer ul li:hover .cus_20{
    background: url(../images/c20.png) 20px 60px no-repeat;
}
*/

/*.cus_1,.cus_2,.cus_3,.cus_4,.cus_5,.cus_6,.cus_7,.cus_8,.cus_9,.cus_10,.cus_11,.cus_12,.cus_13,.cus_14,.cus_15,.cus_16,.cus_17,.cus_18,.cus_19,.cus_20{
    transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}*/



/*底部栏*/
.footer{
    background-color: #6ea0c8;
    height: 210px;
}

.footer .weixin{
    width: 140px;
    float: left;
    margin-top: 28px;
}

.footer .weixin h3{
    font-size: 16px;
    color: #ffffff;
    padding-left: 6px;
}
.footer ul li{
    font-size: 14px;
    color: #ffffff;
}
.footer ul{
    margin-top: 42px;
    margin-left: 30px;
}

.footer .address{
    margin-top: 40px;
}
.footer .address p{
    font-size: 14px;
    color: #ffffff;
}
.footer hr{
    box-shadow: 0px 1px 1px #424344;
    margin: 5px 0px;
}





