@charset "utf-8";


/*轮播图样式*/
.one_j_b .banner_slide{
    height: 200px;
    overflow: hidden;
}
.one_j_b .slide li{
    height: 200px;
}




/*精选1010号码*/
.one_j{}

.one_j h5{
    font-size: 26px;
    color: #333333;
    text-align: center;
    margin-top: 40px;
}
.one_j p.p_top{
    font-size: 16px;
    color: #666666;
    text-align: justify;
    margin-top: 38px;
}
.one_j h3{
    font-size: 26px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}
.one_j ul{
    border: 1px solid #ffbe5a;
    margin-top: 38px;
}
.one_j ul li{
    width: 237px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
    border: 1px solid #e9e9e9;
    color: #888888;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.one_j ul li .zf_1{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    width: 237px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fffd3c;
    font-size: 18px;
}
.one_j ul li:hover .hm_1{
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.one_j ul li:hover .zf_1{
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    background-color: #ff4b5a;
}


.one_j .j_div{
    height: 110px;
}

.one_j .j_div img{
    margin-top: 27px;
    margin-left: 225px;
}
.one_j .j_div .j_p_div{
    width: 435px;
    margin-left: 320px;
    margin-top: -62px;
}

.one_j .j_div .j_p_div p{
    font-size: 16px;
    color: #666666;
    text-align: justify;
}
.one_j .j_div a{
    display:block;
    color: #ffffff;
    font-size: 16px;
    width: 201px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff4b5a;
    border-radius: 20px;
    margin-top: -40px;
    margin-left: 825px;
}

.one_j .j_div a:hover{
    background-color: #dd424f;
}



/*1010号码套餐资费*/
.one_t{
    background-color: #f3f3f3;
}
.one_t h3.hh{
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}


.one_t .one_tc ul li{
    background-color: #ffbe5a;
    float: left;
}
.one_t .one_tc ul li:first-child{
    width: 580px;
    height: 251px;
}
.one_t .one_tc ul li:last-child{
    width: 580px;
    height: 251px;
}


.one_t .one_tc ul li h3{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 19px auto;
}

.one_t .one_tc ul li a{
    display: inline-block;
    width: 168px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff4b5a;
    color: #ffffff;
    font-size: 14px;
    margin-left: 386px;
    margin-top: 10px;
}
.one_t .one_tc ul li a:hover{
    background-color: #db404d;
}
.one_t .one_zx{
    margin-top: 20px;
}

.one_t .one_zx .one_t_tj{
    width: 601px;
    height: 270px;
}
.one_t .one_zx .one_t_tj .bg2{
    position: relative;
    width: 580px;
    height: 270px;
    background: linear-gradient(60deg,#ffffff 225px,#ffbf5c 0);
    border: 1px solid #ffbf5c;
}
/*.one_t .one_zx .one_t_tj .bg2 p{
    color: #ff4b5a;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 12px;
}*/


.one_t .one_zx .one_t_tj .t_input{
    position: absolute;
    top: 20px;
    right: 55px;
}
.one_t .one_zx .one_t_tj .t_input a{
    display: inline-block;
    width: 200px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #ff4b5a;
    border-radius: 5px;
    font-size: 20px;
    color: #fefefe;
    margin-left: 90px;
    margin-top: 30px;
}


.one_t .one_zx .one_t_tj .t_input label{
    font-size: 20px;
    color: #fefefe;
    margin-left: 20px;
}
.one_t .one_zx .one_t_tj .t_input input{
    background-color: #ffe5bd;
    border: none;
    width: 194px;
    height: 30px;
    margin-top: 20px;
}

.one_t .one_zx .one_t_tj .t_input input:focus{
    background-color: #ffffff;
    width: 194px;
    height: 30px;
}
.one_t .one_zx .one_t_tj .t_input input.input_1{
    width: 120px;
}

.one_t .one_zx .one_t_tj .t_input input.input_1:focus{
    width: 120px;
}
.one_t .one_zx .one_t_tj .t_zx{
    height: 110px;
}
.one_t .one_zx .one_t_tj .t_zx img{
    margin-left: 100px;
    margin-top: 20px;
}
.one_t .one_zx .one_t_tj .t_zx p.p_zz{
    color: #ffbe5a;
    font-size: 20px;
    margin-left: 172px;
    margin-top: -31px;
}


.lingxing{
    width: 150px;
    height: 150px;
    background-color: #ffbe5a;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    margin: 50px auto;
}

.one_t .one_zx .one_lx{
    position: relative;
    width: 588px;
    height: 380px;
}
.one_t .one_zx .one_lx .lingxing{
    position: absolute;
}
.one_t .one_zx .one_lx .lx1{
    top: 110px;
    right: 55px;
}
.one_t .one_zx .one_lx .lx3 div{
    background: url(../images/lingxing.png) -78px -163px no-repeat;
    width: 70px;
    height: 70px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: 35px;
    margin-left: 10px;
    position: relative;
}

.one_t .one_zx .one_lx .lx2{
    top: 0px;
    right: 165px;
}
.one_t .one_zx .one_lx .lx2 div{
    background: url(../images/lingxing.png) -211px -50px no-repeat;
    width: 70px;
    height: 70px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: 20px;
    margin-left: 25px;
    position: relative;
}
.one_t .one_zx .one_lx .lx3{
    top: 110px;
    right: 275px;
}
.one_t .one_zx .one_lx .lx1 div{
    background: url(../images/lingxing.png) -322px -110px no-repeat;
    width: 70px;
    height: 70px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: 15px;
    margin-left: 25px;
    position: relative;
}
.one_t .one_zx .one_lx .lx4{
    top: 0px;
    right: 385px;
}
.one_t .one_zx .one_lx .lx4 div{
    background: url(../images/lingxing.png) 20px 20px no-repeat;
    width: 70px;
    height: 70px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: 15px;
    margin-left: 10px;
    position: relative;
}
.one_t .one_zx .one_lx div h6{
    color: #ffffff;
    font-size: 23.45px;
    position: absolute;
    width: 100px;
}
.one_t .one_zx .one_lx .lx4 div h6{
    top: 75px;
    left: -6px;
}
.one_t .one_zx .one_lx .lx3 div h6{
    top: 65px;
    left: 5px;
}
.one_t .one_zx .one_lx .lx2 div h6{
    top: 65px;
    left: -13px;
}
.one_t .one_zx .one_lx .lx1 div h6{
    top: 68px;
    left: -17px;
}


/*1010号码特色优势*/
.one_y h3{
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.one_y .one_y_div ul.ul1 li{
    width: 398px;
    height: 138px;
    float: left;
    border: 1px solid #ffbe5a;
    border-radius: 2px;
}
.one_y .one_y_div ul.ul1 li{
    transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -ms-transition:all 0.7s ease;
}
.one_y .one_y_div ul.ul1 li:hover{
    cursor: pointer;
    transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -ms-transform:  rotateY(360deg);
}
.one_y .one_y_div ul.ul1 li div{
    float: left;
}
.one_y .one_y_div ul.ul1 li div.ss_div{
    width: 88px;
    height: 140px;
    text-align: center;
}
.one_y .one_y_div ul.ul1 li div.ss_div img{
    margin-top: 40px;
}

.one_y .one_y_div ul.ul1 li div.ss_div1{
    padding: 0 0px 0px;
    margin-top: 10px;
    height: 100px;
}

.one_y .one_y_div ul.ul1 li h3{
    font-size: 16px;
    color: #333333;
    padding: 10px 0px;
    text-align: inherit;
    margin-top: 0px;
    font-weight: bold;
}
.one_y .one_y_div ul.ul1 li p{
    width: 290px;
    height: 76px;
    font-size: 14px;
    color: #666666;
    text-align: justify;
}

.one_y h5{
    color: #333333;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}


.one_y ul li{
    width: 195px;
    height: 139px;
    float: left;
    margin-top: 25px;
    text-align: center;
}

.one_y ul li p{
    font-size: 20px;
    color: #666666;
    text-align: center;
}

.mlr56{
    margin-right: 56px;
    margin-left: 56px;
}

.one_y a.a1{
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    width: 280px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #ffbe5a;
    margin-left: 295px;
}
.one_y a.a2{
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    width: 280px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #ff4b5a;
    margin-left: 50px;
}
.one_y a.a1:hover{
    background-color: #cc9848;
}
.one_y a.a2:hover{
    background-color: #d8404c;
}



/*1010号码办理流程*/
.one_b{
    background-color: #f3f3f3;
}
.one_b h3{
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
}


.one_b ul{
    padding: 30px 0px 40px 0px;
}
.one_b ul li{
    width: 299px;
    height: 180px;
    float: left;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
}

.one_b ul li div{
    border-right: 1px dashed #ffbe5a;
    margin-top: 11px;
}
.one_b ul li h5{
    font-size: 18px;
    color: #ffbe5a;
    text-align: center;
    margin: 5px 0px;
}


.one_b_tijiao{
    height: 60px;
    background-color: #ffbe5a;
    margin-top: 30px;
}

/*.one_b_tijiao p.p1{
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
}*/

.one_b_tijiao .tj_div{
    width: 185px;
}

.one_b_tijiao .tj_div1{
    width: 990px;
    margin-top: 10px;
}
.one_b_tijiao .tj_div1 label{
    color: #ffffff;
    font-size: 20px;
    padding-left: 20px;
}

.one_b_tijiao .tj_div1 input{
    width: 139px;
    height: 32px;
    background-color: #ffe5bd;
    border: none;
}
.one_b_tijiao .tj_div1 input:focus{
    background-color: #ffffff;
}
.one_b_tijiao .tj_div1 input#sbutton2{
    width: 98px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ff4b5a;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 25px;
    padding-left: 0px;
}


/*1010号码客户资质*/
.one_k h3.h3_top{
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.mlr21{
    margin: 0 21px;
}

.one_k .s_h3{
    font-size: 20px;
    color: #666666;
    text-align: center;
    margin: 10px auto;
}

.one_k ul li{
    width: 386px;
    height: 322px;
   /* background-color: #ffbe5a;*/
    background-color: #f8f8f8;
    float: left;
    position: relative;
}

.one_k ul li:hover{
     background-color: #ffbe5a;
    cursor: pointer;
}
.one_k ul li:hover div h3,.one_k ul li:hover div p{
    color: #ffffff;
}
.one_k ul li div{
    width: 386px;
    height: 160px;
    overflow: hidden;
}
.one_k ul li div img,.one_k ul li{
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.one_k ul li:hover div img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}



div.effect-bubba div.figcaption::before,
div.effect-bubba div.figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 190px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

div.effect-bubba div.figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

div.effect-bubba div.figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

.one_k ul li:hover div.figcaption::before,
.one_k ul li:hover div.figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.one_k ul li p{
    font-size: 14px;
    color: #888888;
    text-align: justify;
    padding: 0 20px;
}

.one_k .k_p{
    color: #ff4b5a;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*提交申请*/
.one_s{
    background-color: #f3f3f3;
}
.one_s ul li{
    width: 589px;
    height: 159px;
    float: left;
    background-color: #ffffff;
    margin: 40px 0px;
    box-shadow: 2px 2px 10px #bebebe;
}

.one_s ul li p{
    color: #666666;
    font-size: 14px;
    text-align: justify;
    padding: 0px 22px;
    margin-top: 20px;
}

.one_s ul li .one_s_bg{
    position: relative;
    width: 589px;
    height: 159px;
    background: linear-gradient(118deg,transparent 390px,#ffbf5c 0);
}

.one_s ul li .one_s_bg label{
    font-size: 14px;
    color: #666666;
    margin-left: 20px;
}
.one_s ul li .one_s_bg input{
    background-color: #ffbf5c;
    border: none;
    width: 245px;
    height: 30px;
    margin-top: 10px;
}

.one_s ul li .one_s_bg input:focus{
    border: 1px solid #ffbf5c;
    background-color: #ffffff;
    width: 243px;
    height: 28px;
}
.one_s ul li .one_s_bg input.input_1{
    width: 150px;
}

.one_s ul li .one_s_bg input.input_1:focus{
    width: 148px;
}

.one_s ul li .one_s_bg .one_s_div{
    position: absolute;
    top: 0px;
    right: 0px;
}

.one_s ul li .one_s_bg .one_s_div p{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
}
.one_s ul li .one_s_bg .one_s_div a{
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff4b5a;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 20px;
}
