@charset "utf-8";

/*轮播图样式*/
.un_zj_b .banner_slide{
    height: 200px;
    overflow: hidden;
}
.un_zj_b .slide li{
    height: 200px;
}





.un_zj p.p_top{
    color: #666666;
    font-size: 14px;
    text-align: justify;
    margin: 40px 0px 30px;
}

.un_zj h3.h3_top{
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.mr6{
    margin-right: 6px;
}

.un_zj .s_h3{
    font-size: 20px;
    color: #888888;
    text-align: center;
    margin: 15px auto;
}

.un_zj ul li{
    width: 287px;
    height: 319px;
    border: 1px solid #e9e9e9;
    float: left;
}
.un_zj ul li:hover{
    /*cursor: pointer;*/
    box-shadow: 2px 2px 10px #d0d0d0;
}
.un_zj ul li .effect-bubba{
    width: 287px;
    height: 175px;
    overflow: hidden;
}
.un_zj ul li .effect-bubba img,.un_zj ul li{
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.un_zj ul li:hover .effect-bubba img{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.un_zj ul li:hover h3.s_h3,.un_zj ul li:hover p{
    color: #666666;
}



.un_zj ul li p{
    font-size: 16px;
    color: #999999;
    text-align: center;
    padding: 0 20px;
}

.un_zj ul li div.zj_div{
    width: 287px;
    height: 319px;
    background: url(../images/un_zj4.png) right no-repeat;
}
.un_zj ul li div.zj_div a{
     display: inline-block;
     width: 168px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     background-color: #ff525c;
     color: #ffffff;
     font-size: 14px;
     border-radius: 20px;
     margin-top: 270px;
     margin-left: 60px;
 }

.un_zj ul li div.zj_div a:hover{
   background-color: #ec4c55;
}





/*优音总机主要功能*/


.unzj_zy{
    background-color: #f3f3f3;
}
.unzj_zy h3{
    font-size: 26px;
    color: #333333;
    text-align: center;
    margin: 40px auto 30px auto;
    padding-top: 40px;
}
.unzj_zy ul{
    padding-bottom: 40px;
}
.unzj_zy ul li{
    width: 225px;
    height: 170px;
    line-height: 140px;
    text-align: center;
    float: left;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
}

.unzj_zy ul li{
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.unzj_zy ul li .cp{
    width: 225px;
    height: 145px;
    background: url(../images/cp1.png) no-repeat;
}
.unzj_zy ul li .cp.cp1{
    background-position: 85px 20px;
}
.unzj_zy ul li .cp.cp2{
    background-position: -165px 20px;
}
.unzj_zy ul li .cp.cp3{
    background-position: -405px 20px;
}
.unzj_zy ul li .cp.cp4{
    background-position: -650px 20px;
}
.unzj_zy ul li .cp.cp5{
    background-position: -895px 20px;
}
.unzj_zy ul li .cp.cp6{
    background-position: 85px -170px;
}
.unzj_zy ul li .cp.cp7{
    background-position: -165px -170px;
}
.unzj_zy ul li .cp.cp8{
    background-position: -405px -170px;
}
.unzj_zy ul li .cp.cp9{
    background-position: -650px -170px;
}
.unzj_zy ul li .cp.cp10{
    background-position: -895px -170px;
}
.unzj_zy ul li:hover{
    /*cursor: pointer;*/
    box-shadow: 5px 5px 10px #c6c6c6;
    transform: translate(5px,-5px);
    -ms-transform: translate(5px,-5px);
    -o-transform: translate(5px,-5px);
    -webkit-transform: translate(5px,-5px);
    -moz-transform: translate(5px,-5px);
}

.unzj_zy ul li p{
    font-size: 14px;
    color: #666666;
    padding: 0px 20px;
    margin-top: -50px;
}
/*.unzj_zy ul li img{
    margin-top: -10px;
}*/

.mlr18{
    margin-right: 18px;
    margin-left: 18px;
}


/*优音总机特色优势*/
.unzj_ts{
    background-color: #f3f3f3;
}

.unzj_ts h3{
    color: #333333;
    font-size: 26px;
    text-align: center;
    padding-top: 40px;
}


.unzj_ts .up_un1{
    width: 610px;
    height: 239px;
}

.unzj_ts .up_un1 .div1{
    margin-left: 217px;
    margin-top: -185px;
}
.unzj_ts .up_un1 .div1 p{
    font-size: 14px;
    color: #666666;
}
.unzj_ts .up_un1 .div1 p span{
    color: #ffbe59;
    padding-right: 5px;
}

.unzj_ts .up_un2{
    margin-top: 30px;
    background: url(../images/unzj_ts2.png) no-repeat;
    width: 499px;
    height: 239px;
}
.unzj_ts .up_un2 .span1{
    display: inline-block;
    margin-top: 140px;
    margin-left: 212px;
}
.unzj_ts .up_un2 .span1 .input1{
    width: 168px;
    height: 30px;
    border: none;
    background-color: #f3f3f3;
}
.unzj_ts .up_un2 .span1 .button1{
    width: 85px;
    height: 30px;
    border: none;
    background-color: #ff525c;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.unzj_ts .up_un2 .span1 .button1:hover{
    background-color: #e4444d;
}
.unzj_ts .up_un2 .span1 .input1:focus,.unzj_ts .up_un2 .span1 .input1:hover{
   background-color: #ffffff;
}



/*优音总机增值服务*/

.unzj_zz h3.h3_top{
    color: #333333;
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.contentbox{
    height: 320px;
    margin-bottom: 40px;
}
.con{
    width: 148px;
    height: 320px;
    float: left;
   /* margin-right: 35px;*/
    margin-bottom: 15px;
    position: relative;
    /*cursor: pointer;*/
    border: 1px solid #ffffff;
    overflow: hidden;
}
.con img{
    width:148px;
    height: 233px;
}
.txt{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 87px;
    line-height: 87px;
    text-align: center;
    color: #fff;
    background-color: #ffbe59;
}
.txt h3{
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}
.txt p{
    padding: 0px 12px;
    text-align: justify;
    font-size: 14px;
    color: #ffffff;
    display: block;
    line-height: 20px;
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;*/
}

