@charset "utf-8";

/*轮播图样式*/
.up_b .banner_slide{
    height: 200px;
    overflow: hidden;
}
.up_b .slide li{
    height: 200px;
}


.up p{
    color: #666666;
    font-size: 12px;
    text-align: justify;
    margin-top: 40px;
}
.up .up1 div{
    padding-top: 50px;
    padding-left: 80px;
}
.up .up1 p{
    width: 160px;
    color: #666666;
    font-size: 14px;
    text-align: justify;
}
.up .up1 a{
    color: #ff4b5a;
    font-size: 14px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px
}
.up .up1 a:hover,.up .up1 a:hover span{
    color: #ae4a52;
}
.up .up1 a span{
    color: #ff4b5a;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -5px;
}
.up .up1{
    width: 320px;
    height: 349px;
    background: url(../images/up1.png) no-repeat;
    margin-left: 45px;
    margin-top: 40px;
}

.up .up2{
    width: 590px;
    height: 349px;
    position: relative;
    margin-top: 40px;
}

.up .up2 ul li{
    position: relative;
    float: left;
    width: 115px;
    height: 72px;
    margin-left: 30px;
}

.up .up2 ul li:nth-child(5){
    margin-left: 105px;
    margin-top: 50px;
}
.up .up2 ul li:nth-child(6){
    margin-top: 50px;
}
.up .up2 ul li:nth-child(7){
    margin-top: 50px;
}

.up .up2 ul li div.corr{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 115px;
    height: 72px;
    /*动画元素transform-style*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;



    -webkit-transition: .8s ease-in-out ;
    -moz-transition:  .8s ease-in-out ;
    -ms-transition:  .8s ease-in-out ;
    -o-transition:  .8s ease-in-out ;
    transition:  .8s ease-in-out ;
    /*动画元素背后设置为hidden*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
}

.up .up2 ul li div.oppo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 115px;
    height: 72px;
    /*动画元素transform-style*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;


    -webkit-transition: .8s ease-in-out ;
    -moz-transition:  .8s ease-in-out ;
    -ms-transition:  .8s ease-in-out ;
    -o-transition:  .8s ease-in-out ;
    transition:  .8s ease-in-out ;
    /*动画元素背后设置为hidden*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
}


.up .up2 ul li:nth-child(1):hover div.oppo{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}

.up .up2 ul li:nth-child(1):hover div.corr{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}
.up .up2 ul li:hover div.oppo{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}

.up .up2 ul li:hover div.corr{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform:  rotateY(-180deg);
    transform:  rotateY(-180deg);
}
/*.up .up2 img:nth-child(1){

 }
.up .up2 img:nth-child(2){
    margin: 0px 20px;
}
.up .up2 img:nth-child(3){

}
.up .up2 img:nth-child(4){
    margin-left: 20px;
}

.up .up2 div.div1{
    position: absolute;
    top: 115px;
    left: 72px;
}
.up .up2 div.div1 img,.up .up2 img{
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.up .up2 div.div1 .img1:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform:  rotateY(360deg);
    -moz-transform:  rotateY(360deg);
    -ms-transform:  rotateY(360deg);
}
.up .up2 div.div1 .img2:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform:  rotateY(360deg);
    -moz-transform:  rotateY(360deg);
    -ms-transform:  rotateY(360deg);
}
.up .up2 div.div1 .img3:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform:  rotateY(360deg);
    -moz-transform:  rotateY(360deg);
    -ms-transform:  rotateY(360deg);
}
.up .up2 img:nth-child(1):hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform:  rotateY(360deg);
    -moz-transform:  rotateY(360deg);
    -ms-transform:  rotateY(360deg);
}
.up .up2 img:nth-child(2):hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform:  rotateY(360deg);
    -moz-transform:  rotateY(360deg);
    -ms-transform:  rotateY(360deg);
}
.up .up2 img:nth-child(3):hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform:  rotateY(360deg);
    -moz-transform:  rotateY(360deg);
    -ms-transform:  rotateY(360deg);
}
.up .up2 img:nth-child(4):hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform:  rotateY(360deg);
    -moz-transform:  rotateY(360deg);
    -ms-transform:  rotateY(360deg);
}*/



/*优音电话独特优势*/
.up_dt{
    background-color: #f3f3f3;
}

.up_dt h3{
    font-size: 22px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.up_dt p{
    font-size: 12px;
    color: #666666;
    text-align: justify;
}

.up_dt ul{
    padding: 30px 0px 40px 0px;
}
.up_dt ul li{
    width: 199px;
    height: 246px;
    line-height: 210px;
    background-color: #ffbe5a;
    float: left;
    border-right: 1px solid #ffffff;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.up_dt ul li h5 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: -85px;
}


.up_dt ul li .sf1{
   height: 246px;
}

.up_dt ul li .sf{
    position: absolute;
    top: 248px;
    left: 0;
    width: 199px;
}

.up_dt ul li .sf p{
    font-size: 12px;
    color: #555555;
    text-align: justify;
    padding: 0px 36px;
    color: #ffffff;
}


/*.up_dt ul li:hover{
    cursor: pointer;
}*/
.up_dt ul li .sf1,.up_dt ul li div.sf,.up_dt ul li .sf1 h5,.up_dt ul li hr{
    transition: all 0.35s;
    -o-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -webkit-transition: all 0.35s;
}

.up_dt ul li:hover .sf1{
    transform: scale(0.7,0.7);
    -webkit-transform: scale(0.7,0.7);
    -o-transform:  scale(0.7,0.7);
    -moz-transform: scale(0.7,0.7);
    -ms-transform:  scale(0.7,0.7);
   /* -webkit-transform: scale(0.7,0.7)/!*translate3d(0,-80px,0)*!/;
    transform: scale(0.7,0.7)/!*translate3d(0,-80px,0)*!/;*/
    margin-top: -20px;
}
.up_dt ul li div.sf{
    /*-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;*/
    /*-webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);*/

    transform: translate3d(0,10px,0);
    -webkit-transform: translate3d(0,10px,0);
    -o-transform:  translate3d(0,10px,0);
    -moz-transform: translate3d(0,10px,0);
    -ms-transform:  translate3d(0,10px,0);
}

.up_dt ul li:hover div.sf{
    /*-webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);*/
    transform: translate3d(0,-100px,0);
    -webkit-transform: translate3d(0,-100px,0);
    -o-transform:  translate3d(0,-100px,0);
    -moz-transform: translate3d(0,-100px,0);
    -ms-transform:  translate3d(0,-100px,0);
}

.up_dt ul li:hover hr{
    opacity: 0;
}
.up_dt ul li:hover .sf1 h5{
    margin-top:-115px;
}






.hr{
    width: 20px;
    height: 3px;
    color: white;
    background-color: white;
    border: none;
    margin-left: 90px;
    margin-left: 0px\0;
    margin-bottom: 15px;
    margin-top: -65px;
}

/*SIP电话*/
.up_sip h3{
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin-top: 40px;
}
.up_sip p{
    font-size: 12px;
    color: #666666;
    text-align: justify;
    margin-top: 40px;
}

.up_sip h5{
    font-size: 16px;
    color: #ffbe5a;
    margin-bottom: 20px;
    font-weight: bold;
}

.up_sip .up_sip2{
    width: 520px;
    height: 349px;
    margin-top: 20px;
    position: relative;
}
.up_sip .up_sip2 ul li{
    position: relative;
    float: left;
    width: 115px;
    height: 72px;
    margin-left: 15px;
}


.up_sip .up_sip1 ul li{
    position: relative;
    float: left;
    width: 115px;
    height: 72px;
    margin-left: 15px;
}

.up_sip .up_sip2 ul li:nth-child(5),.up_sip .up_sip1 ul li:nth-child(4){
    margin-top: 45px;
    margin-left: 80px;
}
.up_sip .up_sip2 ul li:nth-child(6),.up_sip .up_sip1 ul li:nth-child(5){
    margin-top: 45px;
}
.up_sip .up_sip2 ul li:nth-child(7){
    margin-top: 45px;
}



.up_sip1 ul,.up_sip2 ul{
    margin-left: -15px;
}
/*.up_sip .well-item{
    width: 121px;
    height: 140px;
    position: relative;
    float: left;
}
.up_sip .well-item .correct{
    position: absolute;
}
.up_sip .up_sip2 .well-item .correct {
    top: 0px;
    left: 0px;
}*/


/*.up_sip .up_sip2 .pb1{
    top: 0px;
    left: 0px;
}
.up_sip .up_sip2 .pb2{
    top: 0px;
    left: 0px;
}
.up_sip .up_sip2 .pb3{
    top: 0px;
    left: 0px;
}*/

/*.up_sip .up_sip2 .pb1{
    top: -20px;
    left: 70px;
}
.up_sip .up_sip2 .pb2{
    top: -20px;
    left: 90px;
}
.up_sip .up_sip2 .pb3{
    top: -20px;
    left: 110px;
}*/

/*.up_sip .up_sip1 .pb2{
    top: -20px;
    left: 70px;
}
.up_sip .up_sip1 .pb3{
    top: -20px;
    left: 90px;
}*/

.up_sip .up_sip2 ul li div.corr,.up_sip .up_sip1 ul li div.corr{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 115px;
    height: 72px;
    /*动画元素transform-style*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;


    -webkit-transition: .8s ease-in-out ;
    -moz-transition:  .8s ease-in-out ;
    -ms-transition:  .8s ease-in-out ;
    -o-transition:  .8s ease-in-out ;
    transition:  .8s ease-in-out ;
    /*动画元素背后设置为hidden*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
}

.up_sip .up_sip2 ul li div.oppo,.up_sip .up_sip1 ul li div.oppo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 115px;
    height: 72px;
    /*动画元素transform-style*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;


    -webkit-transition: .8s ease-in-out ;
    -moz-transition:  .8s ease-in-out ;
    -ms-transition:  .8s ease-in-out ;
    -o-transition:  .8s ease-in-out ;
    transition:  .8s ease-in-out ;
    /*动画元素背后设置为hidden*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;


    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);


    z-index: 1;
}

.up_sip .up_sip2 ul li:hover div.oppo,.up_sip .up_sip1 ul li:hover div.oppo{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}

.up_sip .up_sip2 ul li:hover div.corr,.up_sip .up_sip1 ul li:hover div.corr{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform:  rotateY(-180deg);
    transform:  rotateY(-180deg);
}

.up_sip .up_sip1 ul li:nth-child(4):hover a.corr{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}
.up_sip .up_sip1 ul li:nth-child(5):hover a.corr{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}
.up_sip .up_sip1 ul li:nth-child(4):hover a.oppo{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}
.up_sip .up_sip1 ul li:nth-child(5):hover a.oppo{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  rotateY(0deg);
}

.up_sip .up_sip1 ul li:nth-child(4) a.corr{
    display: block;
    width: 120px;
    height: 138px;
    background: url("../images/lx_h.png") no-repeat;
    position: relative;
    overflow: hidden;
}
.up_sip .up_sip1 ul li:nth-child(4) a.corr img,.up_sip .up_sip1 ul li:nth-child(5) a.corr img{
    position: absolute;
    top: -40px;
    left: 40px;
    transition: all 0.35s;
    -o-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
}
.up_sip .up_sip1 ul li:nth-child(4):hover a.corr img,.up_sip .up_sip1 ul li:nth-child(5):hover a.corr img{
    top: 25px;
}
.up_sip .up_sip1 ul li:nth-child(4):hover a.corr h6,.up_sip .up_sip1 ul li:nth-child(5):hover a.corr h6{
    padding-top: 70px;
}
.up_sip .up_sip1 ul li:nth-child(4) a.corr h6,.up_sip .up_sip1 ul li:nth-child(5) a.corr h6{
    font-size: 14px;
    color: #ffffff;
    padding: 45px 32px;
    transition: all 0.35s;
    -o-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
}


.up_sip .up_sip1 ul li:nth-child(5) a.corr{
    display: block;
    width: 120px;
    height: 138px;
    background: url("../images/lx_red.png") no-repeat;
    position: relative;
    overflow: hidden;
}



/*菱形绘制*/
/*
.hexagon {
    width: 100px;
    height: 55px;
    background: #fc5e5e;
    position: relative;
    margin: 10px auto;
}

.hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #fc5e5e;
}

.hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #fc5e5e;
}
*/

/*
/!*3d翻转动画效果*!/
@-webkit-keyframes flipOutYtest {
    from {
        -webkit-transform: perspective(1400px);
        transform: perspective(1400px);
    }

    40% {
        -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
        transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
        opacity: 1;
    }

    50% {
        -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }

    to {
        -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
        transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
        opacity: 0;
    }
}

.test{
    -webkit-animation: flipOutYtest 0.5s linear;
    animation: flipOutYtest 0.5s linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes flipInYtest {
    from {
        -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
        transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
        opacity: 0;
    }

    50% {
        -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
        transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
        transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
        opacity: 1;
    }

    to {
        -webkit-transform: perspective(1400px);
        transform: perspective(1400px);
        opacity: 1;
    }
}

.test2{
    -webkit-animation: flipInYtest 0.5s linear;
    animation: flipInYtest 0.5s linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
*/





.up_sip .up_sip1{
    width: 385px;
    height: 349px;
    position: relative;
    margin-top: 20px;
}




.up_sip2_tj{
    height: 60px;
    background-color: #ffbe5a;
}

.up_sip2_tj p.p1{
    color: #ffffff;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 25px;
    background: url(../images/font.png) no-repeat;
    width: 175px;
    height: 40px;
    background-size: 80%;
}

.up_sip2_tj .tj_div{
    width: 185px;
}

.up_sip2_tj .tj_div1 input.wid140{
    width: 70px;
}
.yzm{
    display: inline;
    vertical-align: middle;
    height: 25px;
    margin-top: -3px;
}

.up_sip2_tj .tj_div1{
    width: 812px;
    margin-top: 15px;
}
.up_sip2_tj .tj_div1 label{
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

.up_sip2_tj .tj_div1 input{
    width:140px;
    height: 28px;
    background-color: #ffe5bd;
    border: none;
}
.up_sip2_tj .tj_div1 input:focus{
    background-color: #ffffff;
}
.up_sip2_tj .tj_div1 input#sbutton2{
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff4b5a;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 25px;
    padding-left: 0px;
}
.up_sip2_tj .tj_div1 input#sbutton2:hover{
    background-color: #b8162b;
}


/*优音APP*/
.up_un{
    background-color: #f3f3f3;
}

.up_un h3{
    color: #333333;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
 }
.up_un p.p_top{
    color: #666666;
    font-size: 12px;
    text-align: justify;
    margin: 20px 0px;
}


.up_un .up_un1{
    width: 445px;
    height: 286px;
}
.up_un h5{
    color: #ffbe59;
    font-size: 16px;
}

.up_un .up_un1 .div1{
    margin-left: 215px;
    margin-top: -202px;
}
.up_un .up_un1 .div1 p{
    font-size: 12px;
    color: #666666;
}
.up_un .up_un1 .div1 p span{
    color: #ffbe59;
    padding-right: 5px;
}
.up_un .up_un1 .div1 span.sp1{
    color: #ff4b5a;
    margin-top: 30px;
    display: inline-block;
    font-size: 12px;
}
.up_un .up_un2{
    width: 515px;
    height: 286px;
}



.up_un .up_un2 ul{
    margin-top: 20px;
    border: 1px solid #ffbe59;
}
.up_un .up_un2 ul li{
    width: 128px;
    height: 200px;
    line-height: 45px;
    text-align: center;
    float: left;
}
.up_un .up_un2 ul li div.up_div1{
    border-right: 1px dashed #ffbe59;
    margin-top: 18px;
    display: block;
}
.up_un .up_un2 ul li h6{
    font-size: 14px;
    color: #666666;
    text-align: center;
    font-weight: 500;
}

.up_un .up_un2 ul li p{
    margin-top: -20px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    padding: 0px 15px;
}
.up_un .up_un2 ul li div.up_div2{
    height: 165px;
    line-height: 90px;
    border-right: 1px dashed #ffbe59;
    margin-top: 16px;
    display: none;
}
.up_un .up_un2 ul li:hover div.up_div2{
    /*cursor: pointer;*/
    display: block;
}
.up_un .up_un2 ul li:hover div.up_div1{
    display: none;
}



/*PC软电话*/

.up_pc h3{
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin-top: 40px;
}
.up_pc p{
    font-size: 12px;
    color: #666666;
    text-align: justify;
    margin: 20px 0px;
}


.up_pc .img_sf .img_sf_div{
    width: 480px;
    height: 270px;
    background: url(../images/up_pc_1.png) 22px 0px no-repeat;
    background-size: 95%;
}

.up_pc .img_sf .img_sf_div a{
    display: inline-block;
    width: 219px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ffbe59;
    border-radius: 20px;
    font-size: 14px;
    color: #ffffff;
    margin-left: 135px;
    margin-top: 190px;
    font-weight: 500;
}
.up_pc .img_sf .img_sf_div a:hover{
    background-color: #e2a950;
}



.img_sf img:nth-child(1){
    width: 50%;
    margin-top: 20px;
    margin-left: 0px!important;
}
.img_sf img:nth-child(2){
    width: 40%;
}



/*产品对比*/
.up_cp{
    background-color: #f3f3f3;
}
.up_cp h3{
    font-size: 22px;
    color: #333333;
    text-align: center;
    padding: 40px 0px 30px;
}
.up_cp .up_cp1{
    background-color: #ffbe59;
    height: 360px;
    position: relative;
}
.pb40{
    padding-bottom: 40px;
}
.up_cp .up_cp1 a{
    display: inline-block;
    width: 168px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    background-color: #ff4b5a;
    margin-top: 318px;
    margin-left: 794px;
}

.up_cp .up_cp1 a:hover{
    background-color: #d13d4a;
}







.up_cp table
{
    border-collapse:collapse;
    background-color: #ffffff;
    margin-left: 0px;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 950px;
    border: none;
}

.up_cp table,.up_cp th, .up_cp td
{
    border: none;
    text-align: center;
}

.up_cp th{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.up_cp td{
    font-size: 12px;
    color: #666666;
    border: 1px solid #e9e9e9;
}

.up_cp tr td:nth-child(1){
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}








