@charset "utf-8";

/*轮播图样式*/
.uf_td_b .banner_slide{
    height: 200px;
    overflow: hidden;
}
.uf_td_b .slide li{
    height: 200px;
}


/*优音400电话特点--*/

.uf_td h3{
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.uf_td ul{
    padding: 20px 0px 20px 0px;
    border: 1px solid #ffbe5a;
}
.uf_td ul li{
    width: 237px;
    height: 251px;
    float: left;
    border-right: 1px dashed #ffbe5a;
    border-radius: 3px;
    text-align: center;

}
.uf_td ul li h5{
    font-size: 18px;
    color: #ffbe5a;
    text-align: center;
    margin: 15px 0px;
}
.uf_td ul li p{
    height: 90px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    padding: 0 20px;
    margin-top: 20px;
}
.uf_td ul li a{
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff4b5a;
    font-size: 14px;
    color: #ffffff;
    border-radius: 20px;
}
.uf_td ul li a:hover{
    background: #d3344e;
}



/*优音热销套餐*/

.uf_why{
    background-color: #f3f3f3;
}


.uf_why2 .ul1 .li1{
    width: 380px;
    height: 450px;
    border: 1px solid #ece7e8;
    float: left;
    margin-top: 20px;
    background-color: #ffffff;
}



.uf_why2 .ul1 .li1:hover{
    /*cursor: pointer;*/
    background-color: #ffbe5a;
}
.uf_why2 .ul1 .li1:hover div{
    background-color: #ffffff;
}
.uf_why2 .ul1 .li1:hover h5{
    color: #ffffff;
    font-weight: bold;
}
.uf_why2 .ul1 .li1:hover p,.uf_why2 .ul1 .li1:hover h6,.uf_why2 .ul1 .li1:hover .ul2 li{
    color: #666666;
}
.uf_why2 .ul1 .li1:hover div span{
    color: #ffbe5a;
    font-weight: 600;
}
.uf_why2 .ul1 .li1:hover .ul2 li i{
    color: #fe8c06;
}

.uf_why2 .ul1 .li1:hover a:first-of-type{
    background-color: #76e3ff;
    box-shadow: 2px 2px 2px #ba6515;
    color: #ffffff;
}
.uf_why2 .ul1 .li1:hover a:last-of-type{
    background-color: #fe8c06;
    box-shadow: 2px 2px 2px #ba6515;
    color: #ffffff;
}
.uf_why2 .ul1 .li1:hover section.mflq a.mflq_a{
    background: #f6ff00;
    background: linear-gradient(135deg, transparent 5px, #f6ff00 0);
    box-shadow: none;
    color: #ff4b5a;
}

.uf_why2 .ul1 .li1 section.mflq a.mflq_a:hover{
    background: #d0d803;
    background: linear-gradient(135deg, transparent 5px, #d0d803 0);
    box-shadow: none;
    color: #ff4b5a;
}


.uf_why2 .ul1 .li1 .mflq{
    background: url(../images/f_pjuxing.png) no-repeat;
    width: 250px;
    height: 91px;
    margin-top: 11px;
    margin-left: 68px;
}
.uf_why2 .ul1 .li1 .mflq .mflq_a{
    display: inline-block;
    width: 135px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-left: 58px;
    margin-top: 54px;
    color: #ff4b5a;
    font-size: 16px;
    border-radius: 0;
    background: #f6ff00;
    background: linear-gradient(135deg, transparent 5px, #f6ff00 0);
}


.mlr27{
    margin-left: 27px;
    margin-right: 27px;
}
.uf_why2 .ul1 .li1 h5{
    font-size: 20px;
    color: #ffbe5a;
    text-align: center;
    margin-top: 20px;
}
.uf_why2 .ul1 .li1 p{
    font-size: 18px;
    color: #888888;
    margin: 10px 0px;
    text-align: center;
}

.uf_why2 .ul1 .li1 div{
    background-color: #ffbe5a;
    height: 77px;
    line-height: 77px;
    text-align: center;
}

.uf_why2 .ul1 .li1 div span{
    color: #ffffff;
}

.uf_why2 .ul1 .li1 h6{
    font-size: 16px;
    color: #666666;
    text-align: center;
    margin-top: 20px;
}
.uf_why2 .ul1 .li1 .ul2{
    margin-left: 20px;
    margin-top: 10px;
}
.uf_why2 .ul1 .li1 .ul2 li{
    font-size: 16px;
    color: #666666;
    float: left;
    padding-right: 10px;
}
.uf_why2 .ul1 .li1 .ul2 li i{
    font-style: normal;
    color: #ffbe5a;
    padding-right: 5px;
}

.uf_why2 .ul1 .li1 .ul3{
    padding: 0 60px;
    margin-top: 10px;
}

.uf_why2 .ul1 .li1 .ul3 li{
    font-size: 16px;
    color: #666666;
    float: left;
    padding-left: 15px;
}
.uf_why2 .ul1 .li1 a{
    font-size: 14px;
    color: #666666;
    display: inline-block;
    width: 140px;
    height: 35px;
    background-color: #dcdcdc;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 30px;
}

.uf_why2 .ul1 .li1 .sec1{
    height: 86px;
    background-color: #ff4b5a;
    margin-top: -10px;
}

.uf_why2 .ul1 .li1 .sec1 p{
    font-size: 20px;
    color: #ffffff;
}

.uf_why2 .ul1 .li1 .sec2{
    padding-left: 20px;
}

.uf_why2 .ul1 .li1 .sec2 label{
    color: #ffbe5a;
    font-size: 20px;
    font-weight: bold;
}

.uf_why2 .ul1 .li1 .sec2 input{
    border: none;
    background-color: #f8f5f1;
    width: 215px;
    height: 35px;
    margin-top: 20px;
}

.uf_why2 .ul1 .li1 .sec2 input:focus{
    background-color: #ffffff;
    border: 1px solid #ffbe5a;
    width: 213px;
    height: 33px;
}

.uf_why2 .ul1 .li1 .sec2 input.comment:focus{
    background-color: #ffffff;
    border: 1px solid #ffbe5a;
    height: 33px;
}

.uf_why2 .ul1 .li1 .sec2 input.sbutton{
    width: 196px;
    height: 30px;
    background-color: #ff4b5a;
    color: #ffffff;
    font-size: 16px;
    margin-left: 71px;
}
.uf_why2 .ul1 .li1 .sec2 input.sbutton:hover{
    background-color: #db424f;
    cursor: pointer;
}

.uf_why2 .ul1 .li1 .sec2 input.sbutton:focus{
    border: none;
}



/*海量号码任性选*/

.uf_why1 h3{
    color: #333333;
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
}
.uf_why1 h6{
    color: #333333;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}


.uf_why1 p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    margin: 30px 0;
}
.uf_why1 p span{
    color: #ff4b5a;
}



.uf_why1 .tablist ul li{
    font-size: 18px;
    color: #666666;
    float: left;
    width: 200px;
    height: 46px;
    background-color: #f1f1f1;
    line-height: 46px;
    text-align: center;
    position: relative;
    /* border-bottom: 1px solid #ffbe5a;*/
}
.uf_why1 .tablist ul li a span{
    position: absolute;
    top: 10px;
    left: 0px;
    color: #ffffff;
    width: 2px;
    height: 30px;
    display: inline-block;
    background-color: #ffffff;
}



/*.uf_why1 .tablist ul li:before{
    /!*position: absolute;
    top: 0px;
    left: 0px;*!/
    width: 2px;
    height: 5px;
    background-color: #9b040d;
}*/



.uf_why1 .tablist ul li.cur a{
    height: 0;
    width: 160px;
    display: inline-block;
    /*background-color: #ffbe5a;*/
    border-bottom: 46px solid #ffbe5a;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    color: #ffffff;
    font-weight: 600;
}

.cur1{
    display: none;
}

.show{
    display: block;
}

.uf_why1 .tabcon ul{
    border: 1px solid #ffbe5a;
}
.uf_why1 .tabcon ul li{
    width: 297px;
    height: 59px;
    border: 1px solid #f1f1f1;
    line-height: 59px;
    text-align: center;
    float: left;
    font-size: 20px;
    color: #888888;
    position: relative;
}


.uf_why1 .tabcon ul li section.tab_imm{
    position: absolute;
    top: 0;
    left: 0;
    width: 297px;
    height: 59px;
    border: 1px solid #f1f1f1;
    line-height: 59px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    background-color: #ff4b5a;
    color: #ffffff;
}
.uf_why1 .tabcon ul li section.tab_imm a{
    color: #f6ff00;
    padding-left: 15px;
}

.uf_why1 .tabcon ul li:hover section.tab_sec{
    /*cursor: pointer;*/
    visibility: hidden;
    opacity: 0;
}
.uf_why1 .tabcon ul li:hover section.tab_imm{
    /*cursor: pointer;*/
    visibility: visible;
    opacity: 1;
}


.uf_why1 .tijiao{
    height: 60px;
    background-color: #ffbe5a;
}


.uf_why1 .tijiao p.p1{
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
}

.uf_why1 .tijiao .tj_div{
    width: 185px;
}

.uf_why1 .tijiao .tj_div1{
    width: 960px;
    margin-top: 10px;
}
.uf_why1 .tijiao .tj_div1 label{
    color: #ffffff;
    font-size: 20px;
    padding-left: 10px;
}

.uf_why1 .tijiao .tj_div1 input{
    width: 139px;
    height: 32px;
    background-color: #ffe5bd;
    border: none;
}
.uf_why1 .tijiao .tj_div1 input:focus{
    background-color: #ffffff;
}
.uf_why1 .tijiao .tj_div1 input#sbutton2{
    width: 98px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ff4b5a;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 25px;
    padding-left: 0px;
}


/*优音400电话通信能力更强*/


.uf_tx h3{
    font-size: 20px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 10px;
}
.uf_tx p.p_top{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    margin: 40px 0px 20px;
}



.uf_tx ul li{
    width: 393px;
    height: 150px;
    float: left;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    /*border: 1px solid #9b040d;*/
}

.uf_tx ul li:hover{
    /*cursor: pointer;*/
    box-shadow: 2px 2px 10px #c7c7c7;
}
.uf_tx ul li p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    padding: 13px 20px 0px;
}

.uf_tx ul li div{
    float: left;
}

/*.uf_tx ul li a{
    display: inline-block;
    width: 143px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fe8900;
    box-shadow: 2px 2px 2px #bb8b42;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    margin-top: 102px;
    margin-left: 232px;
}*/

.uf_tx ul li section{
    position: absolute;
    top: 160px;
    left: 170px;
}

.uf_tx ul li section a,.uf_tx ul li{
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.uf_tx ul li:hover section a{
    transform: translate(0px,-50px);
    -ms-transform: translate(0px,-50px);
    -o-transform: translate(0px,-50px);
    -webkit-transform: translate(0px,-50px);
    -moz-transform: translate(0px,-50px);
}

.uf_tx ul li section a{
    display: inline-block;
    width: 234px;
    color: #ffbe59;
    font-size: 14px;
    background: url(../images/jt.png) 140px 8px no-repeat;
}

.uf_tx ul li section a:hover{
    color: #d9a14b;
}
.uf_tx .p_div2{
    width: 234px;
    height: 120px;
}

.uf_tx .p_div1{
    width: 150px;
    height: 120px;
    text-align: center;
}
.uf_tx .p_div1 img{
    margin-top: 10px;
}
.uf_tx .uf_tx1left{
    width: 435px;
    height: 210px;
    margin: 40px 0px;
}
.uf_tx .uf_tx1left p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
}
.uf_tx .uf_tx1left a{
    display: inline-block;
    font-size: 14px;
    color: #ffbe59;
    margin-left: 375px;
    margin-top: 30px;
}
.uf_tx .uf_tx1left a:hover{
    color: #daa14a;
}
.uf_tx .uf_tx1right{
    border: 1px solid #ffbe5a;
    height: 210px;
}

.uf_tx .uf_tx1right div.div2{
    margin-top: 30px;
    margin-left: 100px;
}
.uf_tx .uf_tx1right div.div2 p{
    margin-top: 10px;
    font-size: 14px;
    color: #666666;
}
.uf_tx .uf_tx1right div.div2 h5{
    font-size: 18px;
    color: #666666;
    text-align: justify;
    font-weight: bold;
}
.uf_tx .uf_tx1right div.div1 img{
    margin-top: 8px;
    margin-left: 100px;
}
.uf_tx .uf_tx1right div p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
}
.uf_tx .uf_tx1right div.div3{
    width: 330px;
    height: 210px;
    background-color: #ffbe5a;
    position: relative;
}
.uf_tx .uf_tx1right div.div3 h6{
    color: #ff4b5a;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}
.uf_tx .uf_tx1right div.div3 img{
    margin-top: 10px;
    margin-left: 30px;
}
.uf_tx .uf_tx1right div.div3 a{
    width: 160px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    background-color: #fff98d;
    border-radius: 10px;
    color: #ff4b5a;
    font-size: 14px;
    position: absolute;
    top: 140px;
    left: 85px;
}
.uf_tx .uf_tx1right div.div3 a:hover{
    background-color: #cec971;
}




/*优音400电话功能更丰富*/

.uf_ff{
    background-color: #f3f3f3;
    margin-top: 42px;
    padding-bottom: 40px;
}
.uf_ff h3{
    font-size: 20px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 10px;
}
.uf_ff p.p_top{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    margin-top: 30px;
}

.uf_ff h5.p_h3{
    font-size: 16px;
    color: #666666;
    font-weight: 600;
    margin-left: 10px;
}
.uf_ff ul.ul1 li{
    width: 400px;
    height: 150px;
    float: left;
    margin-top: 20px;
    /*border: 1px solid #9b040d;*/
}
.uf_ff ul.ul1 li:hover{
   /* cursor: pointer;*/
    box-shadow: 2px 2px 10px #bebebe;
    background-color: #ffffff;
}
.uf_ff ul.ul1 li p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    padding: 6px 10px 0px;
}

.uf_ff ul.ul1 li div{
    float: left;
}

.uf_ff ul.ul1 li a{
    display: inline-block;
    width: 143px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fe8900;
    box-shadow: 2px 2px 2px #bb8b42;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    margin-top: 102px;
    margin-left: 232px;
}


.uf_ff .p_div2{
    width: 264px;
    height: 101px;
    margin: 20px 0px 0px 40px;
}

.uf_ff .p_div1{
    width: 64px;
    height: 101px;
    margin-top: 39px;
    margin-left: 20px;
}

/*.mlr9{
    margin-left: 9px;
    margin-right: 9px;
}*/

.uf_ff ul.ul2{
    /*margin-top: 20px;
    margin-left: 20px;*/
}
.uf_ff ul.ul2 li{
    width: 125px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border-right: 1px dashed #fdcda1;
    float: left;
    margin: 0px 9px;
}
.uf_ff ul.ul2 li p{
    margin-top: -40px;
    font-size: 14px;
    color: #666666;
}

.uf_ff .picScroll-left{
    position: relative;
}
.uf_ff .picScroll-left .bd{
    margin-top: 20px;
    margin-left: 85px;
}

.uf_ff .picScroll-left:hover .hd .prev{
    background: url(../images/zuo1a.png) no-repeat;
}
.uf_ff .picScroll-left:hover .hd .next{
    background: url(../images/you1a.png) no-repeat;
}
/*.picScroll-left div.hd a.prev{
    position: absolute;
    top: 65px;
    left: 0px;
    width: 60px;
    height: 60px;
    background: url(../images/jt.png) no-repeat;
}*/

.uf_ff .picScroll-left .hd .prev{
    position: absolute;
    top: 30px;
    left: 30px;
    display: block;
    width: 33px;
    height: 59px;
    /*float: right;*/
   /* margin-right: 5px;
    margin-top: 10px;*/
    overflow: hidden;
    cursor: pointer;
    background: url("../images/zuo1.png") no-repeat;
}

.uf_ff .picScroll-left .hd .next{
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    width: 33px;
    height: 59px;
    /*float: right;*/
    /*margin-right: 5px;
    margin-top: 10px;*/
    overflow: hidden;
    cursor: pointer;
    background: url("../images/you1.png") no-repeat;
}


/*优音400电话接听终端更多样*/
.uf_jt h3{
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-top: 40px;
}

.uf_jt p.p_top{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    margin-top: 40px;
}

.uf_jt img{
    margin-left: 70px;
}
.uf_jt h5{
    font-size: 16px;
    color: #ffbf5c;
    text-align: justify;
    font-weight: bold;
}
.uf_jt ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
.uf_jt ul li{
    width: 350px;
    height: 150px;
    float:left;
}
.uf_jt ul li h6{
    font-size: 16px;
    color: #666666;
    font-weight: 600;
}

.uf_jt ul li p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
}

.uf_jt ul li a{
    font-size: 14px;
    color: #ff525c;
    margin-left: 242px;
    margin-top: 10px;
    display: inline-block;
}
.uf_jt ul li a:hover{
    color: #d3344e;
}
.uf_jt ul li a span{
    display: inline-block;
    font-size: 20px;
    margin-top: -5px;
    vertical-align: middle;
}


.mlr75{
    margin: 0 75px;
}


/*优音400电话扩展能力更强*/

.uf_gq{
    background-color: #f3f3f3;
}

.uf_gq h3{
    font-size: 20px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
}
.uf_gq .uf_gq1{
    width: 800px;
    height: 322px;
}
.uf_gq .uf_gq1 img{
    margin-top: 30px;
}
.uf_gq .uf_gq1 p{
    font-size: 14px;
    color: #333333;
    text-align: justify;
}
.uf_gq .uf_gq1 p.p_p{
    font-size: 14px;
    color: #666666;
    text-align: justify;
    margin-top: -210px;
    margin-left: 450px;
}
.uf_gq .uf_gq1 p.p_p span{
    color: #ffbe59;
    padding-right: 5px;
}



.uf_gq .uf_gq2{
    width: 323px;
    height: 322px;
    background: url(../images/uf_gq2.png) no-repeat;
}
.uf_gq .uf_gq2 a{
    display: inline-block;
    background-color: #ff525c;
    font-size: 14px;
    color: #ffffff;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 275px;
    margin-left: 70px;
}
.uf_gq .uf_gq2 a:hover{
    background-color: #e24a52;
}



/*优音400电话专属服务*/
.uf_zs h3{
    font-size: 26px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.uf_zs ul{
    border: 1px solid #ffbe5a;
    padding: 20px 0px 20px 0px;
}
.uf_zs ul li{
    width: 398px;
    height: 251px;
    float: left;
    border-left: 1px dashed #ffbe5a;
    border-radius: 3px;
    text-align: center;

}
.uf_zs ul li h5{
    font-size: 18px;
    color: #ffbe5a;
    text-align: center;
    margin: 15px 0px;
}
.uf_zs ul li p{
    height: 90px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    padding: 0 45px;
    margin-top: 20px;
}
.uf_zs ul li a{
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff4b5a;
    font-size: 14px;
    color: #ffffff;
    border-radius: 20px;
}

.uf_zs ul li a:hover{
    background-color: #e24a52;
}